APScheduler==3.6.3
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Limiter==1.2.1
flask-mongoengine==0.9.5
Flask-PyMongo==2.3.0
Flask-SocketIO==4.3.0
Flask-WTF==0.14.3
gitdb==4.0.5
GitPython==3.1.1
Jinja2==2.11.2
limits==1.5.1
mongoengine==0.20.0
pyfcm==1.4.7
pymongo==3.10.1
python-dateutil==2.8.1
python-engineio==3.12.1
python-socketio==4.5.1
requests==2.23.0
Werkzeug==1.0.1

